<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/css/style_home.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/c694a51664.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <!--####---------------HEADER--------------####-->
    <header class="header-navbar" id="navbar">

        <input type="checkbox" id="check"/>
        <label for="check" class="checkBtn"><i class="fas fa-bars"></i></label>

        <a href="/Home/Index" class="logo" id="header-logo">Del Lunar</a>

        <a class="header-book-now" href="/DatPhong/ChooseBranch">ĐẶT PHÒNG</a>
        <div class="header-navbar-links">
            <a href="/Home/Index">Home</a>
            <a href="/Home/Room">Room</a>
            <a href="/Home/Dining">Dining</a>
            <a href="/Home/Facility">Facilities</a>
            <a href="/Home/Promotion">Promotion</a>
            <a href="/Home/Contact">Contact us</a>
            <div class="header-log" style="display: inline;">
                <a class="header-log-in" id="login-button-all-pages"><i class="fas fa-sign-in-alt"></i>Đăng nhập</a>
            </div>
        </div>
    </header>
    <!--###########################################-->
    @RenderBody()
    <div id="login_page_container" class="login-page-container">
        <div class="login-page">
            <img src="~/assets/close_logo.png" class="close-button-login-signup" id="close-button-login">
            <p class="login-welcome-say">Welcome to</p>
            <p class="login-hotel-name">DEL LUNAR</p>
            <div>
                <input class="login-entry" placeholder="CMND/CCCD/Passport" type="text" id="usercccd_inform">
                <input class="login-entry" placeholder="Mật khẩu" type="password" id="userpass_inform">
                <p style="color: red; line-height: 2rem" id="login_error_notify"></p>
                <input type="submit" value="Đăng nhập" class="login-page-button">
            </div>
            <button class="signup-page-button" id="signup-page-button">Đăng ký</button>
            <p>Bạn đã quên <a href="/KhachHang/ForgetPassword">mật khẩu</a>? </p>
        </div>
    </div>
    <div id="signup_page_container" class="signup-page-container">
        <div class="signup-page">
            <img src="~/assets/close_logo.png" class="close-button-login-signup" id="close-button-signup">
            <p class="login-welcome-say">Welcome to</p>
            <p class="login-hotel-name">DEL LUNAR</p>
            <div>
                <div class="form-fill">
                    <div class="form-part">
                        <p class="name-entry-signup-page">
                            CMND/CCCD/Passport (<span class="mark-required-icon">*</span>)
                        </p>
                        <input class="info-entry" placeholder="CMND/CCCD/Passport" id="registry_cccd_user">
                        <p class="example-entry-signup-page">Ex: 312412356</p>

                        <p class="name-entry-signup-page">Họ (<span class="mark-required-icon">*</span>)</p>
                        <input class="info-entry" placeholder="Họ" id="registry_firstname_user">

                        <p class="name-entry-signup-page">Tên (<span class="mark-required-icon">*</span>)</p>
                        <input class="info-entry" placeholder="Tên" id="registry_lastname_user">

                        <div class="form-mini">
                            <div id="name-entry-dateofbird">
                                <p class="name-entry-signup-page">Ngày sinh</p>
                                <input class="info-entry-mini" type="date" id="registry_datebirth_user">
                            </div>
                            <div>
                                <p class="name-entry-signup-page">Giới tính</p>
                                <select class="info-entry-mini" id="registry_gender_user">
                                    <option value=1 selected="selected">Nam</option>
                                    <option value=0>Nữ</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-part">
                        <p class="name-entry-signup-page">Email (<span class="mark-required-icon">*</span>)</p>
                        <input class="info-entry" placeholder="Email" type="email" id="registry_email_user">
                        <p class="example-entry-signup-page">Ex: dellunarhotel@gmail.com</p>

                        <p class="name-entry-signup-page">Số điện thoại</p>
                        <input class="info-entry" placeholder="Số điện thoại" type="tel" id="registry_tele_user">
                        <p class="example-entry-signup-page">Ex: 0914567892</p>

                        <p class="name-entry-signup-page">Mật khẩu (<span class="mark-required-icon">*</span>)</p>
                        <input class="info-entry" placeholder="Mật khẩu" type="password" id="registry_pswd_user">

                        <p class="name-entry-signup-page">Xác nhận mật khẩu (<span class="mark-required-icon">*</span>)</p>
                        <input class="info-entry" placeholder="Xác nhận mật khẩu" type="password" id="registry_pswdconfirm_user">

                        <p class="name-entry-signup-page">
                            (<span class="mark-required-icon">*</span>) là những
                            trường
                            bắt buộc.
                        </p>
                        <div class="g-recaptcha" data-sitekey="6LfTJHEdAAAAAGzkQOCUskUDSkEur7ebAoFha8F_"></div>
                    </div>
                </div>
                <p style="color: red" id="registry_error_notify"></p>
                <input type="submit" value="Đăng ký" class="signup-page-button">
            </div>
            <button class="login-page-button">Đăng nhập</button>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-map">

            </div>
            <div>
                <p class="logo">Del Lunar</p>
                <p class="slogan">The lap of luxury</p>
            </div>
            <div class="footer-contact-us">
                <h3>CONTACT US</h3>
                <p>Address: Linh Trung, Thủ Đức, Thành phố Hồ Chí Minh</p>
                <p>Email: dellunarhotel@gmail.com</p>
                <p>Phone:702.590.7111</p>
            </div>

            <div class="footer-inquire">
                <h3>SOCIAL MEDIA</h3>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>

            <div class="footer-quick-links">
                <h3>QUICK LINKS</h3>
                <a href="/Home/Index">Home</a>
                <a href="/Home/Room">Room</a>
                <a href="/Home/Dining">Dining</a>
                <a href="/Home/Facility">Facilities</a>
                <a href="/Home/Promotion">Promotion</a>
                <a href="/Home/Contact">Contact Us</a>
            </div>
        </div>
    </footer>
    <!--script chính-->
    <script src="~/js/script_home.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>