    <!--Contact information-->
<div class="contact" id="contact-section">
    <!--Banner, logo-->
    <div class="contact-banner">
        <h1 class="logo">Del Lunar</h1>
    </div>

    <!--Section-->
    <div class="contact-section">
        <h2>Del Lunar Hotel</h2>
        <p>
            There’s the Vegas you’re used to, and then there’s the AAA Five
            Diamond–awarded Del Lunar Hotel in Las Vegas. Unsurpassed amenities
            from our renowned restaurants to the most technologically-advanced
            rooms and suites await you.
        </p>
    </div>

    <div class="contact-content">
        <ul>
            <li>
                <h3><i class="fas fa-phone-alt"></i><br />Liên hệ</h3>
                <p>702.590.7111</p>
            </li>
            <li>
                <h3><i class="fas fa-clipboard-list"></i><br />Đặt phòng</h3>
                <p>866.359.7757</p>
            </li>
            <li>
                <h3><i class="fas fa-map-marked-alt"></i><br />Địa chỉ</h3>
                <p>Khu phố 6, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
            </li>
            <li>
                <h3><i class="fas fa-envelope"></i><br />Email</h3>
                <p>delhotel@gmail.com</p>
            </li>
        </ul>
    </div>
    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2312403776427!2d106.80086541451156!3d10.870008892258056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRyBUUC5IQ00!5e0!3m2!1svi!2s!4v1638682800016!5m2!1svi!2s" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!--###########################################-->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>