    <!--####---------------DINING--------------####-->
<div class="dine" id="dine-section">
    <!--###---header của dine---###-->
    <div class="dine-header">
        <h1>DINING</h1>
        <p>
            Seeking out new flavours and trying creative dishes from different
            cultures is the best things to exprerience. You can dine in style
            throughout the day.
        </p>
    </div>

    <!--###---menu thức ăn---###-->
    <div class="dine-menu">
        <h1>Menu Highlights</h1>
        <!--##--3 thức ăn đầu--##-->
        <div class="dine-menu-block">
            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-1.jpg" />
                <p class="dine-menu-food-country">ITALIAN</p>
                <h2>Veal Parmesan</h2>
                <p>Experience timeless Italian cuisine with the iconic Veal Parmesan at Carbone.</p>
            </div>

            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-2.jpg" />
                <p class="dine-menu-food-country">FRENCH</p>
                <h2>Beef Wellington</h2>
                <p>
                    Beef Wellington at BARDOT--the show before the show. Savor this classic dish as the
                    pies
                    de
                    resistance to your dining experience.
                </p>
            </div>

            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-3.jpg" />
                <p class="dine-menu-food-country">CHINESE</p>
                <h2>Hong Kong Style Maine Lobster</h2>
                <p>
                    Blossom delivers the triumphs of gourmet Chinese cuisine with such dishes as the
                    fresh
                    Maine
                    Lobster.
                </p>
            </div>
        </div>

        <!--##--3 thức ăn thứ hai--##-->
        <div class="dine-menu-block-1">
            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-4.jpg" />
                <p class="dine-menu-food-country">MEXICAN</p>
                <h2>Javier's</h2>
                <p>
                    Bringing a Southern California favorite to the Las Vegas Strip, Javier's is now open
                    in
                    the
                    center of the Casino...
                </p>
            </div>

            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-5.jpg" />
                <p class="dine-menu-food-country">SPANISH</p>
                <h2>Julian Serrano Tapas</h2>
                <p>
                    Small plates, loading guests’ palettes with delectable interpretations of his native
                    Spanish
                    fare.
                </p>
            </div>

            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-6.jpg" />
                <p class="dine-menu-food-country">THAI</p>
                <h2>Lemongrass</h2>
                <p>
                    Serving a modern interpretation of Thai cuisine, Lemongrass specializes in a wide
                    variety
                    of
                    authentic fare ...
                </p>
            </div>
        </div>

        <!--##--3 thức ăn thứ ba--##-->
        <div class="dine-menu-block-2">
            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-7.jpg" />
                <p class="dine-menu-food-country">AMERICAN</p>
                <h2>Posh Burger</h2>
                <p>
                    Discover a socially forward, energetic and casual dining destination where besties
                    and
                    burgers gather to share ...
                </p>
            </div>

            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-8.jpg" />
                <p class="dine-menu-food-country">SEAFOOD</p>
                <h2>CATCH</h2>
                <p>
                    The only location to bring epic renditions of Asian-influenced sushi, seafood and
                    steak.
                </p>
            </div>

            <div class="dine-menu-food">
                <img src="~/assets/homeimg/dine-9.jpg" />
                <p class="dine-menu-food-country">AMENITIES</p>
                <h2>Mobile Takeoutr</h2>
                <p>
                    Bring some of the best dishes at ARIA with you with Mobile Takeout available from Din
                    Tai
                    Fung, BARDOT, ...
                </p>
            </div>
        </div>

        <div class="dine-menu-button">
            <button class="read-more-button">SHOW MORE <i class="fas fa-caret-down"></i></button>
        </div>
    </div>
</div>
<!--###########################################-->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>