`    <!--####--------------FACILITY-------------####-->
<div class="facility" id="facility-section">
    <div class="facility-header">
        <h1>FACILITIES</h1>
        <p>
            Del Lunar Hotel cung cấp các tiện nghi và dịch vụ hàng đầu cho khách hành,
        </p>
        <p>
            đảm bảo du khách có một kỳ
            nghỉ thú vị và đáng nhớ nhất.
        </p>
    </div>

    <!--###--slide pool--###-->
    <div class="pool-container">
        <div class="swiper pool-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide pool-slide">
                    <img src="~/assets/homeimg/facility-5.jpg" />
                    <h3>Vòi hoa sen có lọc</h3>
                    <p>Giảm clo trong nước giỡ da và tóc luôn mềm và mượt</p>
                </div>
                <div class="swiper-slide pool-slide">
                    <img src="~/assets/homeimg/facility-6.jpg" />
                    <h3>Lọc không khí</h3>
                    <p>Giúp giảm dị ứng phấn hoa, nấm mốc và vi trùng trong không khí</p>
                </div>
                <div class="swiper-slide pool-slide">
                    <img src="~/assets/homeimg/facility-7.jpg" />
                    <h3>Quy trình vệ sinh sạch sẽ</h3>
                    <p>Sử dụng các sản phẩm không độc hại và dùng tia UV để khử khuẩn</p>
                </div>
                <div class="swiper-slide pool-slide">
                    <img src="~/assets/homeimg/facility-8.jpg" />
                    <h3>Chăm sóc khách hàng</h3>
                    <p>Luôn hỗ trợ chăm sóc khách hàng 24/24</p>
                </div>
            </div>
        </div>
    </div>
    <!--###---slide facility----###-->
    <div class="facility-title">
        <h1>POOL</h1>
    </div>
    <div class="facility-slide">
        <div class="facility-slide-container">
            <div class="facility-wrapper">
                <div class="swiper-slide">
                    <h2>Cabanas</h2>
                    <div class="facility-place">
                        <img src="~/assets/homeimg/facility-1.jpg" />
                        <div class="facility-content">
                            <p>
                                Trải nghiệm dịch vụ cá nhân hóa trong một bầu không khí tràn đầy năng lượng trong
                                khi bạn tận hưởng các tiện nghi sang trọng như miễn phí
                                áo choàng, khăn tắm, ghế dài và khăn tắm.
                            </p>
                        </div>

                        <div class="facility-detail">
                            <p>Giờ mở cửa</p>
                            <p>10:00 AM - 6:00 PM</p>
                            <p>Điện thoại</p>
                            <p>702.590.9520</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <h2>Del Lunar Pools</h2>
                    <div class="facility-place">
                        <img src="~/assets/homeimg/facility-2.jpg" />

                        <div class="facility-content">
                            <p>
                                Sky Pool là một
                                hồ bơi độc quyền cao cấp được thiết kế đặc biệt cho khách hàng đặt phòng Suites.
                                Ốc đảo này nâng cao trải nghiệm hồ bơi sang trọng với
                                các dịch vụ như lối vào dành cho khách riêng và các tiện nghi sang trọng.
                            </p>
                        </div>

                        <div class="facility-detail">
                            <p>Địa điểm</p>
                            <p>The Pools</p>
                            <p>Giờ mở cửa</p>
                            <p>9:00 AM - 7:00 PM</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <h2>LIQUID Pool Lounge</h2>

                    <div class="facility-place">
                        <img src="~/assets/homeimg/facility-3.jpg" />

                        <div class="facility-content">
                            <p>
                                Thời gian trong ngày không quan trọng khi bạn đang
                                thơ thẩn bên cạnh ốc đảo nước hình elip của chúng tôi.
                                Đội ngũ nhân viên thân thiện đang háo hức chờ đợi sự lựa chọn của bạn về bất kỳ sản
                                phẩm nào của chúng tôi
                                cocktail đặc biệt hoặc xô bia lạnh để bạn không cần phải
                                nhấc một ngón tay.
                            </p>
                        </div>

                        <div class="facility-detail">
                            <p>Địa điểm</p>
                            <p>Bên cạnh The Pool tầng 2</p>
                            <p>Giờ mở cửa</p>
                            <p>Tạm thời đóng cửa trong mùa dịch</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <h2>Pool Bar</h2>

                    <div class="facility-place">
                        <img src="~/assets/homeimg/facility-4.jpg" />

                        <div class="facility-content">
                            <p>
                                Vị trí Tại Pool Bar của ARIA, những yếu tố tốt nhất của Las Vegas
                                đều nằm ở đây.
                                Bạn hoàn toàn có thể thư giãn bên cạnh ốc đảo nước hình elip của chúng tôi
                                với đội ngũ nhân viên thân thiện đang háo hức chờ đợi sự lựa chọn của bạn về
                                bất kỳ
                                cocktail đặc biệt của chúng tôi hoặc xô bia lạnh để bạn không
                                phải nhấc một ngón tay.
                            </p>
                        </div>

                        <div class="facility-detail">
                            <p>Địa điểm</p>
                            <p>Pool Deck, nằm giữa hồ bơi chính của Del Lunar</p>
                            <p>Giờ mở cửa</p>
                            <p>9:30 AM - 3:30 PM hằng ngày</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--###########################################-->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>