    <!--####---------------HOME--------------####-->
<section class="home">

    <!--###----BANNER---###-->
    <div class="home-banner-container">
        <div class="swiper home-banner">
            <div class="swiper-wrapper">
                <div class="swiper-slide home-banner-box">
                    <img src="~/assets/homeimg/home-1.jpg" alt="nam và nữ" />
                    <div class="home-banner-detail">
                        <h1>WELCOME TO DEL LUNAR HOTEL</h1>
                        <p>Chào mừng đến với Del Lunar Hotel!!</p>
                    </div>
                </div>

                <div class="swiper-slide home-banner-box">
                    <img src="~/assets/homeimg/home-2.jpg" alt="phòng khách sạn" />
                    <div class="home-banner-detail">
                        <h1>CHẤT LƯỢNG QUỐC TẾ</h1>
                        <p>Trải nghiệm khách sạn với chất lượng đạt nhiều tiểu chuẩn quốc tế</p>
                    </div>
                </div>

                <div class="swiper-slide home-banner-box">
                    <img src="~/assets/homeimg/home-3.jpg" alt="phòng khách sạn" />
                    <div class="home-banner-detail">
                        <h1>CƠ SỞ VẬT CHẤT HIỆN ĐẠI</h1>
                        <p>Del Lunar Hotel trang bị cơ sở vật chất hiện đại, bên cạnh hồ bơi, gym,...</p>
                    </div>
                </div>

                <div class="swiper-slide home-banner-box">
                    <img src="~/assets/homeimg/home-4.jpg" alt="bàn ăn" />
                    <div class="home-banner-detail">
                        <h1>TRẢI NGHIỆM MÓN ĂN MỚI LẠ</h1>
                        <p>Món ăn chất lượng Michelin chuẩn bị bởi đầu bếp chuyên nghiệp</p>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!--###----FEATURE---###-->
    <div class="home-feature-header">
        <h1>KHÁM PHÁ</h1>
    </div>
    <div class="home-feature">
        <div class="home-feature-box">
            <img src="~/assets/homeimg/home-feature-1.jpg" alt="khách sạn" />
            <div class="home-feature-box-detail">
                <h2>Del Lunar Suite</h2>
                <p>Suite là trải nghiệm tuyệt nhất bạn có thể có.</p>
            </div>
            <div class="center">
                <a href="/Home/Room">KHÁM PHÁ</a>
            </div>
        </div>

        <div class="home-feature-box">
            <img src="~/assets/homeimg/home-feature-2.jpg" alt="hồ bơi" />
            <div class="home-feature-box-detail">
                <h2>Hồ bơi</h2>
                <p>Mùa bơi lội luôn ở đây</p>
            </div>
            <div class="center">
                <a href="/Home/Facility">KHÁM PHÁ</a>
            </div>
        </div>

        <div class="home-feature-box">
            <img src="~/assets/homeimg/home-feature-3.jpg" alt="sò nướng" />
            <div class="home-feature-box-detail">
                <h2>Nhà hàng</h2>
                <p>Thưởng thức món ăn hàng đầu với đầu bếp chuyên nghiệp.</p>
            </div>
            <div class="center">
                <a href="/Home/Dining">KHÁM PHÁ</a>
            </div>
        </div>

        <div class="home-feature-box">
            <img src="~/assets/homeimg/promotion-1.jpg" alt="khách sạn" />
            <div class="home-feature-box-detail">
                <h2>Lần đầu đặt phòng</h2>
                <p>Giảm 10% cho lần đầu đặt phòng của bạn</p>
            </div>
            <div class="center">
                <a href="/DatPhong/ChooseBranch">ĐẶT NGAY</a>
            </div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>