    <!--####-----------PROMOTION---------------####-->
<div class="promotion" id="promotion-section">

    <!--###--tiêu đề promotion---###-->
    <div class="promotion-header">
        <h1>KHUYẾN MÃI</h1>
        <p>
            Vui chơi thỏa thích hơn với khuyến mã hấp dẫn chỉ có ở Del Lunar Hotel.
        </p>
    </div>

    <!--###---danh sách khuyến mãi còn thời hạn--###-->
    <div class="promotion-indate">
        <h2>KHUYẾN MÃI TRONG THỜI HẠN</h2>
    </div>

    <div class="promotion-list">
        <div class="promotion-box">
            <img src="~/assets/homeimg/promotion-1.jpg" alt="phòng khách sạn" />
            <h4>KHUYẾN MÃI</h4>
            <h3>Lần đầu đặt phòng</h3>
            <p class="promotion-box-detail">Giảm giá 10% cho lần đầu bạn đến đây.</p>
            <p class="promotion-box-num">10%</p>
            <a href="#promotion-1"><button>TÌM HIỂU THÊM</button></a>
        </div>

        <div class="promotion-box">
            <img src="~/assets/homeimg/promotion-2.jpg" alt="hamburger" />
            <h4>KHUYẾN MÃI</h4>
            <h3>$75 Mac Donald</h3>
            <p class="promotion-box-detail">
                Thưởng thức thức ăn và thức ăn vui hơn với $75 giảm giá Mac Donald.
            </p>
            <p class="promotion-box-num">$75</p>
            <a href="#promotion-1"><button>TÌM HIỂU THÊM</button></a>
        </div>

        <div class="promotion-box">
            <img src="~/assets/homeimg/promotion-3.jpg" alt="a girl" />
            <h4>KHUYẾN MÃI</h4>
            <h3>Giảm tới 25%</h3>
            <p class="promotion-box-detail">
                Giảm giá trong lần đặt phòng tới trong Cyber Week.
            </p>
            <p class="promotion-box-num">25%</p>
            <a href="#promotion-1"><button>TÌM HIỂU THÊM</button></a>
        </div>

        <div class="promotion-box">
            <img src="~/assets/homeimg/promotion-4.jpg" alt="old people" />
            <h4>KHUYẾN MÃI</h4>
            <h3>Ưu đãi người cao tuổi</h3>
            <p class="promotion-box-detail">
                Hưởng thụ với khuyến mãi 5%.
            </p>
            <p class="promotion-box-num">5%</p>
            <a href="#promotion-1"><button>TÌM HIỂU THÊM</button></a>
        </div>
    </div>

    <!--###---danh sách khuyến mãi hếthanj--###-->
    <div class="promotion-outdate">
        <h2>ĐÃ HẾT HẠN</h2>
    </div>

    <div class="promotion-list">
        <div class="promotion-outdate-box">
            <img src="~/assets/promotion-5.jpg" alt="phòng khách sạn" />
            <h4>KHUYẾN MÃI</h4>
            <h3>Lần đầu đặt phòng</h3>
            <p class="promotion-box-detail">10% discount for you first time here</p>
            <p class="promotion-outdate-box-num">10%</p>
            <a href="#promotion-1"><button>HẾT HẠN</button></a>
        </div>

        <div class="promotion-outdate-box">
            <img src="../wwwroot/assets/promotion-6.jpg" alt="hamburger" />
            <h4>KHUYẾN MÃI</h4>
            <h3>$75 Giảm giá hằng ngày</h3>
            <p class="promotion-box-detail">
                Thưởng thức thức ăn và thức ăn vui hơn với $75 giảm giá mỗi đêm.
            </p>
            <p class="promotion-outdate-box-num">$75</p>
            <a href="#promotion-1"><button>HẾT HẠN</button></a>
        </div>

        <div class="promotion-outdate-box">
            <img src="~/assets/promotion-7.jpg" alt="a girl" />
            <h4>KHUYẾN MÃI</h4>
            <h3>Giảm tới 25%</h3>
            <p class="promotion-box-detail">
                Giảm giá trong lần đặt phòng tới trong Cyber Week.
            </p>
            <p class="promotion-outdate-box-num">25%</p>
            <a href="#promotion-1"><button>HẾT HẠN</button></a>
        </div>

        <div class="promotion-outdate-box">
            <img src="~/assets/promotion-8.jpg" alt="old people" />
            <h4>KHUYẾN MÃI</h4>
            <h3>Ưu đãi người cao tuổi</h3>
            <p class="promotion-box-detail">
                Hưởng thụ với khuyến mãi 5%.
            </p>
            <p class="promotion-outdate-box-num">5%</p>
            <a href="#promotion-1"><button>HẾT HẠN</button></a>
        </div>
    </div>

    <!--###--pop up chi tiết khuyến mãi--###-->
    <div class="popup" id="promotion-1">
        <div class="popup-promotion">
            <a href="#promotion-section"><i class="fas fa-times"></i></a>
            <div class="popup-header">
                <h2>Save up to 25% off Rates</h2>
                <p>Promotion Details</p>
            </div>
            <div class="popup-detail">
                <p>Skip the same old deals and book your next getaway with our Cyber Week offer.</p>
                <p>
                    Save up to 25% off room rates. M life Rewards Members save even more. Book by
                    December 2,
                    2021 at 10am PST. Offer code: TLTMSTN
                </p>
                <a class="popup-book-now" href="DatPhong/ChooseBranch"><button>BOOK NOW</button></a>
            </div>
        </div>
    </div>
</div>
<!--###########################################-->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>