<div class="room-info">
    <div class="room-info-header">
        <h1>Standard Room</h1>
        <div>
            <a href="/DatPhong/ChooseBranch"><button>ĐẶT NGAY</button></a>
            <a href="/Home/CompareRoom"><button>COMPARE ROOM</button></a>
        </div>
    </div>

    <img class="room-info-big-img" src="~/assets/homeimg/room-standard.jpg" />

    <div class="room-info-detail-container">
        <div class="room-info-detail">
            <div class="room-info-detail-left">
                <h2>Hello, Goodnight Button</h2>
                <p>
                    Go to sleep with just one touch. Triple-sheeted, 300-thread-count bedding. A goodnight button to
                    power
                    down your room with the touch of your finger. Custom beds from Sealy®. These are just a few of
                    the
                    details we’ve perfected in our 520-square-foot sanctuaries. And it’s earned us top ratings from
                    both
                    AAA
                    and Forbes Travel Guide. Our Deluxe Rooms have all the amenities to make for a glamorous Las
                    Vegas
                    stay.
                </p>
                <a href="/DatPhong/ChooseRoom"><button class="room-book-now">ĐẶT NGAY</button></a>
                <a href="/Home/CompareRoom" class="room-compare">
                    Compare Room <i class="fas fa-arrow-right"></i>
                </a>
            </div>

            <div class="room-info-detail-right">
                <h3>Room Details</h3>
                <div class="room-info-detail-size">
                    <div>
                        <p>SIZE</p>
                        <p>520 sq.ft</p>
                    </div>
                    <div>
                        <p>BED
                        <p>1 King Bed</p>
                    </div>
                    <div>
                        <p>MAX GUEST</p>
                        <p>3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class=" room-info-gallery">
        <h2>Gallery</h2>
        <div>
            <img src="~/assets/homeimg/room-standard-1.jpg" />
            <img src="~/assets/homeimg/room-standard-2.jpg" />
            <img src="~/assets/homeimg/room-standard-3.jpg" />
        </div>
    </div>
</div>