@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quên mật khẩu</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/ForgotPass.css'>
</head>
<body>
    <header class="header-top-bar">
        <div class="top-bar-left">
            <img class="logo-img" src="~/assets/logo.png">
            <a class="del-lunar-home" href="/Home/Index">Del Lunar</a>
        </div>
        <div class="top-bar-middle">
            <p class="step-name">Quên mật khẩu</p>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="headerform">
                <img src="~/assets/logo.png" alt="logo">
                <p>DEL LUNAR</p>
            </div>
            <div class="field">
                <div class="label">CCCD/CMND đăng ký</div>
                <div class="getMail">
                    <input type="text" placeholder="CCCD/CMND">
                    <button>Lấy mail</button>
                </div>
                <div class="cccderror" style="color:red; font-size:14px; padding-top:5px;"></div>
            </div>
            <div class="field wait">
                <div class="label">Email <span style="color: gray;"></span></div>
                <input type="email" placeholder="Email">
                <div class="waitanimate">
                    <img src="~/assets/ForgotPass/sending.png">
                </div>
                <div class="success">
                    <img src="~/assets/ForgotPass/tick.png">
                </div>
                <div class="fail">
                    <img src="~/assets/ForgotPass/close.png">
                </div>
                <div class="emailerror" style="color: red; font-size: 14px; padding-top: 5px;"></div>
            </div>
            <div>
                <button class="changePass">Đổi mật khẩu</button>
                <div class="resultChange" style="color: black; font-size: 16px; padding-top: 5px;"></div>
            </div>
        </div>
    </main>
    <script src="~/js/ForgotPass.js"></script>
</body>
</html>